@model GestionPrj.Models.Tache

<h1>Détails de Tache </h1>

<div>
    <h4>Description : @Model.Description</h4>
    <h4>Estimation_Temps : @Model.Estimation_Temps</h4>
  
    <h4>User Story : @Model.UserStoryId</h4>

</div>